@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Playfair Display', serif;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.Layout {
  display: grid;
  grid-template-areas:
    "header"
    "aside"
    "main"
    "footer";
  grid-template-columns: 7fr;
}

.Layout header {
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #222;
}

.Layout header .spacer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Layout aside {
  grid-area: aside;
}

.Layout main {
  grid-area: main;
  background-color: #ffffff;
}

.Layout footer {
  grid-area: footer;
}

.About .q1 {
  height: 100%;
  float: right;
  margin: 10px 30px 50px 30px;
}

.NotFound {
  text-align: center;
}

/* .stocks {
  display: grid;
  grid-template-areas:
    "guitar drum"
    "piano drum";
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
  height: 500px;
} */

.stocks button {  
  background-color: #222;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 0 0 0 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;;
}

.stocks button:active {
  background-color: #222;
  color: white;
}

.stocks button:focus {
  background-color: #222;
  color: white;
}

.stocks button:hover {
  background-color: white;
  color: #222;
}

.Home .guitar {
  grid-area: guitar;
  width: 100%;
  background-color: #e8e8e8;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Home .guitar .guitar__box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.Home .guitar img {
  width: 285px;
}

.Home .piano {
  grid-area: piano;
  width: 100%;
  background-color: #e8e8e8;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Home .piano .piano__box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.Home .piano img {
  width: 285px;
}

.Home .drum {
  grid-area: drum;
  width: 100%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Home .drum img {
  width: 285px;
}

.Home .drum source {
}

.Home video {
  width: 100%;
  height: 100%;
}

.Category {
  max-width: 1200px;
  margin: 0 auto;
}

aside {
  padding: 1rem 2rem;
  text-align: center;
}

aside ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

aside li {
  margin: 0.5rem;
}

aside a {
  text-decoration: none;
  color: #000;
  padding: 0.5rem;
}

aside a:hover {
  color: #fff;
  background-color: #222;
  border-radius: 8px;

}

footer {
  background-color: #222;
  padding: 1rem 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  .Layout {
    grid-template-areas:
      "header"
      "aside"
      "main"
      "footer";
    grid-template-columns: 1fr;
  }
}