* {
  box-sizing: border-box;
  margin: 0;
  color: #f1f1f1;
}

.Layout {
  display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-template-columns: 1fr 7fr;
  max-width: 1300px;
  margin: 0 auto;
  background-color: #080404;
}

.Layout header {
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Layout aside {
  grid-area: aside;
}

.Layout main {
  grid-area: main;
}

.Layout footer {
  grid-area: footer;
}

.About .q1 {
  height: 100%;
  float: right;
  margin: 10px 30px 50px 30px;
}


aside {
  background-color: #110f0e;
  padding: 1rem 2rem;
}

footer {
  background-color: #f1f1f1;
  padding: 1rem 2rem;
  text-align: center;
}