@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Playfair Display', serif;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.Layout {
  display: grid;
  grid-template-areas:
    "header"
    "aside"
    "main"
    "footer";
  grid-template-columns: 7fr;
}

.Layout header {
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #222;
}

.Layout header .spacer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Layout aside {
  grid-area: aside;
}

.Layout main {
  grid-area: main;
  background-color: #ffffff;
}

.Layout footer {
  grid-area: footer;
}

.About .q1 {
  height: 100%;
  float: right;
  margin: 10px 30px 50px 30px;
}

.NotFound {
  text-align: center;
}

.NotFound h1 {
  font-size: 3rem;
  margin: 0;
}

@media screen and (max-width: 888px) {
  .Layout .spacer > .Nav {
    display: none;
  }

  .topbar ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .topbar {
    margin: 0;
    padding: 0;
  }

  .topbar li {
    margin: 0;
    padding: 0;
  }

  .topbar a {
    padding: 1rem 2rem;
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: #222;
  }

}

.Home .video {
  text-align: center;
  margin: 40px 0 80px 0;
}


aside {
  padding: 1rem 2rem;
  text-align: center;
}

aside ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

aside li {
  margin: 0.5rem;
  display: inline;
  width: 150px;
  height: 250px;
}

aside a {
  text-decoration: none;
  color: #000;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

aside img {
  max-width: 150px;
  width: 100%;
  height: 225px;
  border-radius: 10px;
}

aside img:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  border-radius: 10px;
  transform: scale(1.1);
}

aside img:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  border-radius: 10px;
}

footer {
  background-color: #222;
  padding: 1rem 2rem;
  text-align: center;
}

.Product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.Product:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Product h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.Product img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Product img:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Product span {
  font-size: 18px;
  color: #222;
  font-weight: bold;
  margin-bottom: 10px;
}

.Product p.info {
  font-size: 16px;
  color: #777;
  margin-bottom: 10px;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .Product {
    padding: 15px;
  }

  .Product h1 {
    font-size: 20px;
  }

  .Product img {
    width: 150px;
    height: 150px;
  }

  .Product span {
    font-size: 16px;
  }

  .Product p.info {
    font-size: 14px;
  }
}


@media (max-width: 768px) {
  .Layout {
    grid-template-areas:
      "header"
      "aside"
      "main"
      "footer";
    grid-template-columns: 1fr;
  }

  .About .q1 {
    height: 100%;
    float: none;
    margin: 10px 30px 50px 30px;
  }

  .NotFound {
    text-align: center;
  }
}