.Nav .NavItem a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.Nav .NavItem a:hover {
  background-color: #ffffff;
  color: #370F0F;
}

.topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}

.topbar ul {
  display: flex;
  list-style: none;
}

.topbar li {
  margin-left: 1rem;
}