.Auth span {
  display: block;
  margin-right: 10px;
  color: aliceblue;
  font-size: 1rem;
  font-weight: 400;
}

.Auth {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Auth button {
  border-radius: 5px;
  background-color: white;
  color: #222;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid white;
}

.Auth svg {
  width: 20px;
  height: 20px;
}

.Auth button:hover {
  background-color: #222;
  color: white;
}